* { margin: 0; padding: 0; box-sizing: border-box;
   
     }
body {
   
    font: 15px 'Didact Gothic',Garamond, Helvetica, Arial; 
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h2{
    text-decoration-color: white;
    text-decoration: underline;
}
header{margin: 20px;
    text-align: center;
    color:whitesmoke;

}

.headerInfo{
    color:white;
    font-weight:bold;

}

 .flexbox-container {
    display: flex;
    flex-flow: column;
}

.profile{
    width: 45px;
    border-radius: 50%;
    border: 2px solid black;
    margin-top:5px;

}
/*
Some inspiration for the chat bubbles is taken from this website:
    https://bootsnipp.com/snippets/0e3Ma
*/
li.you img{
    margin: 6px 8px 0 0;
    float:left;
}
li.you p{
    background: #435f7a;
    color: #f5f5f5;
}
li.me img {
    float: right;
    margin: 6px 0 0 8px;
  }
li.me p {
    background:yellowgreen;
    float: right;
  }
#messages li img {
    width: 45px;
    border-radius: 50%;
    border: 2px solid black;
   
  }
#messages li p span {
  
    opacity:0.7;
  }
#messages li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 50%;
    line-height: 130%;
  }
/*******chat bubble code ends here***********/
.aligner-item--bottom {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
 
  }     
#userList >li {
    padding-left: 10px;
  }

#userList >li >  p{
    margin: 5px;
    display:inline;
    font-weight:bold;
}
.chat-box{
    margin-top:10px;
    margin-bottom:10px;
    background-color: darkgray;
    padding: 5px;
   
    height:80vh;
    align-items: bottom;
    border-style: solid;
    border-color: black;
    box-shadow: 3px 7px;
    border-radius: 15px 5px 15px 5px;

}
li{
    width:100%;
    display:block;
    word-wrap:break-word;
}
#userNick{
    display:inline;
}
form 
{ 
    width: 90%; 
    border-radius: 15px;
    display: inline;
}

form input { border-radius: 15px; padding:10px; padding-right:100px;border-width: 2px ;width:90%;border-color:black;} 
form button { width:10%;align-self: center;} 


#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
.tooltip-inner {
    white-space: pre-wrap;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .chat-box{ 
        height:30vh;
    }
}